@{
    ViewData["Title"] = "Home";
}

<div class="text-left">
    <h1 class="display-4">Welcome to Scottish Hockey Reference</h1>
    <p>A better way to view stats and info surrounding hockey in Scotland.</p>
</div>
