
@{
    ViewData["Title"] = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Information</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>[placeholder]</p>
</div>

